body{

    margin: 0px;

}

.topo {

    height: 30px;
    background-color: black;
}

.topoint {

    width: 100%;
    max-width: 1040px;
    height: 30px;
    background-color: black;
    margin: auto;
}

.intesq {

    width: 50%;
    height: 30px;
    float: left;

}


.intdir {

    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;


}

.intesq ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

.intesq li {

    height: 30px;
    line-height: 30px;
    float: left;
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.intesq li a {

    text-decoration: none;
    color: white;

}

.intdirbusca {

    width: 110px;
    height: 26px;
    outline: 0;

}

.intdir a {

    float: right;
}

.intdir input {

    float: right;
}

.intdir img {

    margin-right: 3px;
}

.topo2 {

    height: 95px;
    color: white;
}

.topo2int {

    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;

}

.logo {

    width: 230px;
    height: 88px;
    float: left;
    margin-top: 7px;

}

.topo2 .banner {

    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: red;

}

.menu {

    height: 40px;
    background-color: red;
}

.menuint {

    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.menu ul{

    margin: 0;
    padding: 0;
    list-style: none
}

.menu li {

    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu a {

    color: white;
    text-decoration: none;

}

.menu li:hover .submenu {

    display: block;

}

.submenu {

    width: 150px;
    background-color: red;
    position: absolute;
    display: none;
}

.submenuitem {

    width: 150px;
    height: 30px;
    line-height: 30px;
}

.submenuitem:hover {

    background-color: #FF550f;
}

.ultimasnoticias {

    height: 40px;

}

.ultimasnoticiasint {

    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ultnoticiasarea {

    height: 28px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 10px;
}

.ultnoticiastitulo {

    background-color: red;
    color: white;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.ultnoticiasnot {

    color: black;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left:5px;
    padding-right: 10px;
}

.containerint {

    width: 100%;
    max-width: 1040px;
    margin: auto;
    background-color: gray;

}

.rightside {

    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;

}

.leftside {

    float: left;
    width: 753px;

}

.widget {

    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.widget_titulo {

    height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #DDD;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;

}

.widget_conteudo {

    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.noticia_item {

    font-size: 15px;
    margin:0px 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

.noticia_item a {

    text-decoration: none;
    color: black;
}

.slideshow {

    height: 335px;
    overflow: hidden;
}

.slideshowarea {

    height: 335px;
    width: 100000px;

}

.slide {

    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideinfo {

    height: 70px;

}

